[project]
	description = Lightweight Core Data helper to reduce boilerplate code.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Luke Stringer (lukestringer90)
[access "refs/for/refs/*"]
	read = group user/Luke Stringer (lukestringer90)
	push = group user/Luke Stringer (lukestringer90)
	label-Code-Review = -2..+2 group user/Luke Stringer (lukestringer90)
	label-Verified = -1..+1 group user/Luke Stringer (lukestringer90)
	rebase = group user/Luke Stringer (lukestringer90)
	removeReviewer = group user/Luke Stringer (lukestringer90)
	submit = group user/Luke Stringer (lukestringer90)
[access "refs/heads/*"]
	read = group user/Luke Stringer (lukestringer90)
	create = group user/Luke Stringer (lukestringer90)
	push = +force group user/Luke Stringer (lukestringer90)
	pushMerge = group user/Luke Stringer (lukestringer90)
[access "refs/tags/*"]
	push = +force group user/Luke Stringer (lukestringer90)
	pushTag = group user/Luke Stringer (lukestringer90)
	pushSignedTag = group user/Luke Stringer (lukestringer90)
